/*a,a:link, a:visited{
	color: #00007f;
	text-decoration: none;
	border-bottom: 1px solid #DDD;
}

a:hover{
	color: #FF6600;
	border-bottom: 1px solid #FF6600;
}

*html a:hover{
	border-bottom: 1px solid #DDD;
}*/

.rssItemList{
	text-align:left;
	padding:7px 10px 5px 12px;
}

.item{
	line-height:28px;
	height:28px;
	text-overflow:ellipsis;
	overflow:hidden;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
	width:expression(this.width='95%');
}

.item a{
	color:#0657AB
}

.rssA{
	font-size:10pt;
}

/*.rssItemList a,.rssItemList a:link, .rssItemList a:visited{
	text-decoration: none;
	border-bottom: none;
}

.rssItemList a:hover{
	border-bottom: none;
}*/

.postItFrame{
	padding: 5px;	
}

.postItFrame a, .postItFrame a:visited{
	border-bottom: 1px solid #888;
}
.postItFrame a:hover{
	color: #36C;
	border-bottom: 1px solid #36C;
}

.modTd{
	vertical-align:top;
}
.portal-column-td{
	vertical-align:top;
}
.ctrlPanel{
	border:1px solid #A6CEF9;
	font-size:82%;
}
.separator{
	margin: 5px 6px 0px 6px;
	border-top: 1px solid #C6CCD2;
}
.itemLineMain{
	height: 16px;
	overflow: hidden;
	/*font-weight: bold;*/
	background: #EFF5FF;
}
.modbox{
	margin:0px 3px 8px 5px;
	background-color:white;
	border:0px solid #3366cc;
}
.module{
	border: 0px solid #EEE;
	background: #FFF;
	margin: 5px;
}
.moduleFrame{
	overflow: hidden;
}
.moduleHeader{
	cursor: default;
	background-image: url(./main03.jpg);
	height: 32px;
	float: none;
	overflow: hidden;
}
.moduleHeader .topLeft{
	cursor: default;
	height: 32px;
	float: left;
	overflow: hidden;
}
.moduleHeader .topRight{
	cursor: default;
	height: 32px;
	float: right;
	overflow: hidden;
}

.moduleHeader .topCenter{
	display: block;
	height: 32px;
    line-height:32px;
	float: left;
	background:url(./topCenter.jpg) bottom  repeat-x;
	overflow: hidden;
	 padding:0px 10px;
    margin:0;
	color:#555;
}

.moduleHeader .topCenter a{
    color:#555;
}

.bottom{
	height: 3px;
	cursor: default;
	background-image: url(./main06.jpg);
	float: none;
	overflow: hidden;
}
.bottom .bottomLeft{
	height: 3px;
	cursor: default;
	float: left;
	overflow: hidden;
}
.bottom .bottomRight{
	height: 3px;
	cursor: default;
	float: right;
	overflow: hidden;
}
.moduleHeader .coin{
	width: 15px;
	cursor: default;
	float: left;
	padding: 9px 5px 2px 4px;
	margin:1px 0 0 0;
	height:27px;
	
}
.moduleHeader .showHide{
	width: 15px;
	cursor: pointer;
	float: right;
	padding: 9px 8px 2px 0;
}
.moduleHeader .title{
	font-weight: bold;
	font-size:10pt;
	padding: 0px 5px 2px 0px;
	line-height: 1.4em;
	color: #00368F;
}
.moduleHeader .edit{
	float: right;
	padding: 9px 2px 2px 0;
	cursor: pointer;
}
.moduleHeader .edit a{
	color: #858585;
	text-decoration: underline;
	border-bottom: none;
}

.moduleHeader .edit a:hover{
	color: #F60;	
}
.moduleHeader .close{
	float: right;
	padding: 9px 2px 2px 0;
	cursor: pointer;
}
.moduleHeader .refresh{
	float: right;
	padding: 9px 9px 2px 0;
	cursor: pointer;
}
.moduleContents{
	clear: both;
	background: #FFF;
	padding-top: 0px;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.moduleContent{
	clear: both;
	padding: 0px 0px 0px 0px;
	background: #FFF;
	overflow:auto;
	/*font-size:82%;*/
}
.moduleContentTop{
	border-top: 1px solid #D5EFFA;
}
.moduleContentBottom{
	border-bottom: 1px solid #D5EFFA;
}
.moduleContentTop2{
	border-top: 1px solid #FFF;
}